<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Add Workout</title>
</head>
<body>
    <h1>Legs</h1>

    <br>

    <table>
        <thead>
            <tr id="set">
                <th></th>
                <th colspan="4">Single Set</th>
                <th colspan="6">Super Set</th>
                <th colspan="9">Giant Set</th>
                <th colspan="6">Single Set</th>
            </tr>
            <tr id="exercise">
                <th></th>
                <th colspan="4">Back Squat</th>
                <th colspan="3">Alternating Lunge</th>
                <th colspan="3">Step-up to Reverse Lunge</th>
                <th colspan="3">Parallel Squat</th>
                <th colspan="3">Bulgarian Squat</th>
                <th colspan="3">Straight Leg Deadlift</th>
                <th colspan="2">Single Leg Calf Raises</th>
                <th colspan="2">Seated Calf Raise</th>
                <th colspan="2">In and Outs</th>

            </tr>
            <tr id="reps">
                <th></th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>               
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>               
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>15 REPS</th>
                <th>12 REPS</th>
                <th>8 REPS</th>
                <th>20 REPS</th>
                <th>20 REPS</th>
                <th>20 REPS</th>
                <th>20 REPS</th>
                <th>20 REPS</th>
                <th>20 REPS</th>
            </tr>

        </thead>
        <tbody>
            <tr id="records">
                <form action="/updateLegs" method="post">
                    <td> <input name="date" id="date" type="date"> </td>
                    <td> <input name="bsSet1" id="bsSet1" type="number"> </td>
                    <td> <input name="bsSet2" id="bsSet2" type="number"> </td>
                    <td> <input name="bsSet3" id="bsSet3" type="number"> </td>
                    <td> <input name="bsSet4" id="bsSet4" type="number"> </td>
                    <td> <input name="alSet1" id="alSet1" type="number"> </td>
                    <td> <input name="alSet2" id="alSet2" type="number"> </td>
                    <td> <input name="alSet3" id="alSet3" type="number"> </td>
                    <td> <input name="surlSet1" id="surlSet1" type="number"> </td>
                    <td> <input name="surlSet2" id="surlSet2" type="number"> </td>
                    <td> <input name="surlSet3" id="surlSet3" type="number"> </td>
                    <td> <input name="psSet1" id="psSet1" type="number"> </td>
                    <td> <input name="psSet2" id="psSet2" type="number"> </td>
                    <td> <input name="psSet3" id="psSet3" type="number"> </td>
                    <td> <input name="bulsSet1" id="bulsSet1" type="number"> </td>
                    <td> <input name="bulsSet2" id="bulsSet2" type="number"> </td>
                    <td> <input name="bulsSet3" id="bulsSet3" type="number"> </td>
                    <td> <input name="sldSet1" id="sldSet1" type="number"> </td>
                    <td> <input name="sldSet2" id="sldSet2" type="number"> </td>
                    <td> <input name="sldSet3" id="sldSet3" type="number"> </td>
                    <td> <input name="slcrSet1" id="slcrSet1" type="number"> </td>
                    <td> <input name="slcrSet2" id="slcrSet2" type="number"> </td>
                    <td> <input name="scrSet1" id="scrSet1" type="number"> </td>
                    <td> <input name="scrSet2" id="scrSet2" type="number"> </td>
                    <td> <input name="ioSet1" id="ioSet1" type="number"> </td>
                    <td> <input name="ioSet2" id="ioSet2" type="number"> </td>
                    <button type="submit">Submit</button>
                </form>
            </tr>
        </tbody>
    </table>
        

</body>
</html>